{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
  <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}
  <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}

{# View Body #}
{% block body %}
  <canvas id="map-canvas"></canvas>

  <div class="">
    <div class="row">
      <div class="col">
        jrfarf
      </div>

      <div class="col">
        jrfarf
      </div>

      <div class="col">
        jrfarf
      </div>
    </div>
  </div>
{% endblock %}