{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
  <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}
  <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}

{# View Body #}
{% block body %}
  <canvas id="map-canvas"></canvas>

  <div class="container" id = "ledger">
    <div class="row">
      <div class="col">
        Week
      </div>

      <div class="col">
        Item
      </div>

      <div class="col">
        Credit
      </div>

      <div class="col">
        Debit
      </div>

      <div class="col">
        Balance
      </div>
    </div>

  </div>
{% endblock %}